@page "/cart"

<div class="flex justify-center gap-4 min-vh-100">
    <div class="mt-32 h-fit  flex flex-col gap-4">
        <CartBox/>
        <CartBox/>
    </div>
    <div class="gap-4 flex flex-col">
        <CartContact/>
        <div class="w-full justify-between flex p-4 mx-auto bg-white rounded-xl shadow-md overflow-hidden md:max-w-2xl">
            <p class="text-xl">Razem:</p>
            <p class="text-xl font-bold">324.90 PLN</p>
        </div>
    </div>
</div>