@page "/"

<PageTitle>Index</PageTitle>

<div class="relative w-full h-screen flex items-center justify-center">
    <div class="text-center flex flex-col items-center max-w-xl px-6">
        <img src="/mariopizza.png" alt="icon" class="w-auto h-[350px] drop-shadow-2xl mb-6">
        <img src="/title.png" alt="title" class="w-auto h-16 mb-6">
        <p class="my-8 text-2xl font-medium text-gray-900 leading-relaxed w-screen">
            Zapraszamy na wyjątkową pizzę prosto z pieca opalanego drewnem! Chrupiąca skórka, świeże składniki i autentyczny włoski smak, który pokochasz od pierwszego kęsa!
        </p>
        <div class="px-8 py-3 text-xl font-semibold bg-blue-400 rounded-md text-white cursor-pointer 
            shadow-md transition-all duration-300">
            Zamów Online
        </div>
    </div>
</div>
