@page "/"

<PageTitle>Index</PageTitle>

<div class="relative w-full h-screen flex items-center justify-center bg-blue">
    <div class="text-center flex flex-col items-center max-w-xl px-6">
        <img src="/mariopizza.png" alt="icon" class="w-auto h-[350px] drop-shadow-2xl mb-6">
        <p class="my-8 text-2xl font-medium text-black leading-relaxed w-[1000px]">
            Zapraszamy na wyjątkową pizzę prosto z pieca opalanego drewnem! Chrupiąca skórka, świeże składniki i autentyczny włoski smak, który pokochasz od pierwszego kęsa!
        </p>
        <NavLink href="menu">
        <div class="px-8 py-3 text-xl font-semibold bg-blue-400 rounded-md text-white cursor-pointer 
            shadow-md transition-all duration-300">
            Zamów Online
        </div>
        </NavLink>
    </div>
</div>
