@page "/"

<PageTitle>Index</PageTitle>

<div class="relative bg-[#FFDADA] w-full h-[100vh] ">
    <div class="flex flex-col items-center justify-center h-full">
        <img src="/mariopizza.png" alt="icon" class="w-fit h-[450px] mb-6">
        <img src="/title.png" alt="title" class="w-fit h-20">
        <p class="my-10  text-2xl text-center">Zapraszamy na pyszną neapolitańską pizzę <br> prosto z pieca kamiennego opalanego najwyższej jakości drewnem!</p>
        <div class="px-8 py-2 border-3 text-xl border-dark bg-white cursor-pointer duration-300"> 
            <p>Zamów Online</p>
        </div>
    </div>
</div>
