@page "/menu"
<div class="pt-32 flex flex-col items-center relative ">
    <Menu/>
    <Menu/>
    <Menu/>
    <Menu/>
    <Menu/>
    <Menu/>
    <Menu/>
    <Menu/>
    <div class="h-14 w-14 absolute top-[300px] right-[160px] bg-red-100">
        <img src="/question.png" alt="">
    </div>
</div>
