@page "/menu"
<div class="pt-32 flex flex-col gap-4 items-center relative ">
    <Menu/>
    <Menu/>
    <Menu/>
    <Menu/>
    <Menu/>
    <Menu/>
    <Menu/>
    <Menu/>
    <div class="h-10 w-10 absolute top-32 right-32 bg-red-100">
    <img src="/question.png" alt="">
    </div>
</div>
