@page "/menu"
<div class="pt-32 flex flex-col items-center relative min-vh-100">
    <Menu/>
    <Menu/>
    <Menu/>
    <Menu/>
    @* <div class="h-14 w-14 absolute top-[200px] right-[160px] bg-red-100 hover:scale-110 duration-300 cursor-pointer">
        <img src="/question.png" alt="">
    </div>
    <div class="h-14 w-14 absolute top-[400px] left-[140px] bg-red-100 hover:scale-110 duration-300 cursor-pointer">
        <img src="/question.png" alt="">
    </div>
    <div class="h-14 w-14 absolute top-[890px] right-[200px] bg-red-100 hover:scale-110 duration-300 cursor-pointer">
        <img src="/question.png" alt="">
    </div> *@
    <NavLink href="cart">
        <div class="mt-4 h-fit text-white justify-between flex p-4 mx-auto bg-red-500 rounded-xl shadow-md overflow-hidden hover:bg-red-600 cursor-pointer transition-all duration-300">
            Przejdź do podsumowania
        </div>
    </NavLink>
</div>
