@page "/menu"
<div class="pt-32 flex flex-col items-center relative ">
    <Menu/>
    <Menu/>
    <Menu/>
    <Menu/>
    <Menu/>
    <Menu/>
    <div class="h-14 w-14 absolute top-[200px] right-[160px] bg-red-100 hover:scale-110 duration-300 cursor-pointer">
        <img src="/question.png" alt="">
    </div>
    <div class="h-14 w-14 absolute top-[400px] left-[140px] bg-red-100 hover:scale-110 duration-300 cursor-pointer">
        <img src="/question.png" alt="">
    </div>
    <div class="h-14 w-14 absolute top-[890px] right-[200px] bg-red-100 hover:scale-110 duration-300 cursor-pointer">
        <img src="/question.png" alt="">
    </div>
</div>
