<div class="w-full h-24 bg-red-600 fixed top-0 z-50 text-white">
    <div class="flex w-full h-full items-center justify-between px-32">
        <div class="h-[30px] w-fit object-cover">
            <NavLink href="">
                <img src="/title_white.png" class="w-full h-full object-contain cursor-pointer">
            </NavLink>
        </div>
        <div class="flex gap-[80px]">
            <div class=" w-12 h-12 cursor-pointer">
                <NavLink href="menu">
                    <img src="pizzaicon.png">
                </NavLink>
            </div>
            <div class=" w-12 h-12 cursor-pointer">
                <NavLink href="cart">
                    <img src="cart.png">
                </NavLink>
            </div>
        </div>
    </div>

</div>